<h1>Signup</h1>

<!--%= form_for :user, :url => {:action => "create"} do |f| %-->
<form method="POST" action="/users">
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><% message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>

  <p>
    <!--%= f.label :email %> <br /-->
    <!--%= f.text_field :email %-->
    <label for="user_email">Email</label> <br />
    <input type="text" id="user_email" name="user[email]" size="30" />
  </p>

  <p>
    <!--%= f.label :password %> <br /-->
    <!--%= f.password_field :password %-->
    <label for="user_password">Password</label> <br />
    <input type="password" id="user_password" name="user[password]" size="30" />
  </p>

  <p>
    <!--%= f.label :password %> <br /-->
    <!--%= f.password_field :password %-->
    <label for="user_password_confirmation">Password Confirmation</label> <br />
    <input type="password" id="user_password_confirmation" 
           name="user[password_confirmation]" size="30" />
  </p>

  <p class="button">
    <!--%= f.submit 'Submit' %> <br /-->
    <input type="submit" value="Submit" id="user_submit" name="commit"/><br/>
  </p>
</form>
<!--% end %-->
 
